<% include partials/header %>
<section class="section">
    <div class="container">
        <h1 class="title">Welcome to Lock My Bike</h1>
        <p>This is the ultimate app to discover safe places to leave your precious bike</p>
        <br>
        <a class="button is-primary" href="/locations">View all the locations</a>
    </div>
</section>
<% include partials/footer%>