<% include partials/header %>
    <h1 class="title">Welcome to Lock My Bike</h1>
    <p>This is the ultimate app to discover safe places to leave your precious bike</p>
    <a href="/places">View all the places</a>
<% include partials/footer%>